<div class="header">

   <button class="menu-btn" (click)="toggleSidebar()">
  ☰
</button>
  <!-- Left Side -->
  <div class="left">
    <h2>{{title}}</h2>
    <p>Welcome back, Here's your financial overview.</p>
  </div>


  <!-- Right Side -->
  <div class="right">
  <div class="search-box">
    <i class="fas fa-search"></i>
     <input type="text" placeholder="Search..." />
  </div>
   
    

    <div class="icons">
      <div class="icon"></div>
      <div class="icon"></div>
    </div>
  </div>

 

</div>