.header {
  position: fixed;   /* 🔥 change this */
  top: 0;
  left: 250px;       /* sidebar width */
  right: 0;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  background: #071a12;
  color: white;

  z-index: 1000;
}
.left h2 {
  margin: 0;
}

.left p {
  font-size: 12px;
  color: #9ca3af;
  margin: 5px 0 0 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0f2e22;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 35px;
  height: 35px;
  background: #0f2e22;
  border-radius: 8px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #0f2e22;
  padding: 8px 12px;
  border-radius: 8px;
}

.search-box i {
  color: #9ca3af;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}
@media (max-width: 768px) {
  .header {
    left: 0;   /* remove sidebar space */
    padding: 10px;
  }

  .search-box input {
    width: 120px;
  }
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
}

/* Hide on desktop */
@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }
}