.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #071a12;
  color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.left h2 {
  margin: 0;
}

.left p {
  font-size: 12px;
  color: #9ca3af;
  margin: 5px 0 0 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right input {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0f2e22;
  color: white;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon {
  width: 35px;
  height: 35px;
  background: #0f2e22;
  border-radius: 8px;
}

.search-box {
  display: flex;
  align-items: center;
  background: #0f2e22;
  padding: 8px 12px;
  border-radius: 8px;
}

.search-box i {
  color: #9ca3af;
  margin-right: 8px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}