<div class="transactions-page">


  <!-- SEARCH + FILTER -->
  <div class="filters">
    <input type="text" placeholder="Search transactions..."  [(ngModel)]="searchText" (input)="onFilterChange()"/>
    <select [(ngModel)]="selectedType" (change)="onFilterChange()">
      <option value="all">All types</option>
      <option value="credit">Credit</option>
      <option value="debit">Debit</option>
    </select>

  
      <select [(ngModel)]="selectedMonth" (change)="onFilterChange()">
    <option value = "all">Month</option>
    <option value="this_month">This month</option>
    <option value="last_7_days">Last 7 days</option>
    <option value="last_3_months">This 3 Months</option>
  </select>

  </div>


  <div class="transaction-header">
    <div>Transaction</div>
    <div>Type</div>
    <div>Amount</div>
    <div>Status</div>
  </div>
  
  <!-- TRANSACTION LIST -->
  <div class="transaction-item" *ngFor="let t of transactions">

  <!-- Left -->
  <div class="left">
    <p class="title">{{ t.name }}</p>
    <span class="date">{{ t.date }}</span>
  </div>

  <!-- Type -->
  <div class="type">
    {{ t.type }}
  </div>

  <!-- Amount -->
  <div class="amount"
       [class.green]="t.type === 'credit'"
       [class.red]="t.type === 'debit'">
    ₹{{ t.amount }}
  </div>

  <!-- Status -->
  <div class="status">
    {{ t.status }}
  </div>


  <div *ngIf="this.transactions.length === 0">
    <h2> No Transactions exists</h2>
  </div>

</div>