.dashboard-container{
     width:80%;
     margin:50px auto;

}
.card{
     background: #1a237e;
     color:white;
     padding: 20px;
     border-radius: 10px;
}

.actions{
     margin:20px 0;
}

button{
     margin-right: 10px;
     padding: 10px;
}

.transactions{
     margin-top: 20px;
}